*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas: "header header header"
    "main";
    background-color: #13072d;
}
header{
    display: flex;
    justify-content: space-between;
    color:white;
    margin-top: 1.5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-bottom: 1.5rem;
    
}
header h1{
    grid-area: "header";
}
header button{
    grid-area: "header";
    width: 7%;
    padding: 0.7rem;
    background-color: white;
    border-radius: 24px;
}
header ul{
    gap: 5rem;
    align-items: center;
    grid-area: "header";
    font-size: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.container{
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-content: left;
    width: 1200px;
    height: 600px;
    display: grid;
    border-radius: 50px;
    background: linear-gradient(120deg, #1c0c3d, #2a155a, #3c1f7c) 
}
.item{
    grid-column: 1fr;
    color: white;
    margin: 1.5rem;
    gap: 1rem;
    flex-direction: column;
    display: flex;
}
.item h2{
    font-size: 38px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.p1{
    width: 130px;
    padding: 0.5rem;
    background: #7c75bd;
    border-radius: 50px;
    margin-top: 1rem;
}
.p2{
    font-size: 20px;
    margin-bottom: 1rem;
}
.item button{
    color: black;
    border-color: white;
    font-size: 14px;
    padding: 6px;
    width: 220px;
    border-radius: 50px;
    background-color: white;
}
.item i{
    margin-right: 0%;
    color: white;
    padding: 1rem 1.8rem 1rem 1rem;
    border-radius: 50%;
    background: #13072d;
}
.container img{
    margin-top: 3rem;
    margin-left: 3rem;
    grid-column: 1fr;
}