*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(90deg, #1c4fdb, #0c38ca, #03188f);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(80deg, #2e61f0, #2551e2, #1343e2);
    border-image-slice: 0.9;
    color: white;
    background: url(https://static.vecteezy.com/system/resources/thumbnails/011/545/805/small_2x/abstract-luxury-glowing-lines-curved-overlapping-on-dark-blue-background-template-premium-award-design-free-vector.jpg) no-repeat center/cover;
    margin-bottom: 2rem;
    
}
header nav{
    display: inline-block;
    margin: 1.5rem;
}
header h1{
    padding-top: 1rem;
    font-size: 32px;
}
header nav a{
    color: white;
    margin: 3.5rem;
    padding: 0.5rem;
    background-image: url(https://img.freepik.com/free-photo/3d-vertical-background-with-abstract-style_23-2150641326.jpg?semt=ais_hybrid&w=740&q=80);
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 0 0 6px white;
}
main{
    width: 100%
}
aside{
    display: block;
    float: right;
    width: 10%;
    color: white;
    padding-right: 1rem;
}
section div:hover{
    transform: scale(1.02);
    transition: 0.3s ease;
}
#first{
    margin-top: 1rem;
    margin: 0 auto;
    width: 90%;
    display: inline-block;
}
.img1{
    border: 2px solid;
    display: block;
    box-shadow: 0 0 8px black;
    margin: 1rem;
    width: 30%;
    float: left;
    padding: 2rem;
    border-radius: 25px;
    background-color: white;
    padding-left: 6rem;
}
.img2{
    border: 2px solid;
    display: block;
    box-shadow: 0 0 8px white;
    margin: 1rem;
    width: 30%;
    float: left;
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding-left: 5.5rem;
}
.img3{
    display: inline-block;
    width:30%;
    border: 2px solid;
    box-shadow: 0 0 8px white;
    padding-left: 5rem;
    padding-top: 2rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
    border-radius: 25px;
    background-color: black;
    color: white;
}

#second{
    margin-bottom: 2rem;
    margin: 0 auto;
    width: 90%;
    display: inline-block;
}
h2{
    text-align: center;
    margin-bottom: 1.5rem;
}
.img4{
    padding-left: 5rem;
    border: 2px solid;
    display: block;
    box-shadow: 0 0 8px black;
    margin: 1rem;
    width: 30%;
    float: left;
    padding: 2rem;
    border-radius: 25px;
    background-color: white;
}
.img5{
    padding-left: 7em;
    border: 2px solid;
    display: block;
    box-shadow: 0 0 8px white;
    margin: 1rem;
    width: 30%;
    float: left;
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 25px;
    background-color: black;
    color: white;
}
.img6{
    display: inline-block;
    width:30%;
    border: 2px solid;
    box-shadow: 0 0 8px white;
    padding-left: 4.5rem;
    padding-top: 2rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
    border-radius: 25px;
    background-color: black;
    color: white;
}
#third{
    display: inline-block;
    margin-bottom: 4rem;
    margin: 0 auto;
    width: 90%;
}
#third h2{
    margin-bottom: 1.5rem;
}
.img7{
    padding-left: 3.5rem;
    border: 2px solid;
    display: block;
    box-shadow: 0 0 8px black;
    margin: 1rem;
    width: 30%;
    float: left;
    padding: 2rem;
    border-radius: 25px;
    background-color: white;
}
.img8{
    border: 2px solid;
    display: block;
    box-shadow: 0 0 8px white;
    margin: 1rem;
    width: 30%;
    float: left;
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 25px;
    background-color: black;
    color: white;
}
.img9{
    display: inline-block;
    width:30%;
    border: 2px solid;
    box-shadow: 0 0 8px black;
    padding-left: 3.7rem;
    padding-top: 2rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
    border-radius: 25px;
    background-color: gray;
}

footer{
    width:100%;
    display:inline-block;
    border-top: 3px solid;
    text-align: center;
    background: url(https://th.bing.com/th/id/R.933a73bd903e0268c82f76c5766f56c2?rik=WYhaFBnYKhbnAQ&pid=ImgRaw&r=0) no-repeat center/cover;
}
footer ul{
    display:block;
    float: right;
    margin-right: 3rem;
    list-style: none;
}
footer ul li a{
    color: white;
    text-decoration: none;
}
footer h1{
    color: white;
    padding-top: 1rem;
}
p{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
