*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
 
body{
  height:100vh;
  background-color: #d6d4d4;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000000
}
img{
  max-width: 100%;
  display: block;
}
 
header{
  background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsa5tT9AOMCFjSr0ubxoVGzE9L9udXCrtfYQ&s) no-repeat center/cover;
  padding: 2rem;
  text-align: center;
  color: white;
}
 
.section{
  padding: 2rem;
  border-bottom: 3px solid;
    border-image-slice: 0.9;
    border-image-source: linear-gradient(90deg,#ff9108,#1c0d6a,#438b86)
 
}
 
.section-title{
  text-align: center;
  margin-bottom: 1.5rem;
}
 
.about .content{
  width: 75%;
  margin: 0 auto;
}
 
.about .image-content{
  background: url("https://images.pexels.com/photos/7293752/pexels-photo-7293752.jpeg");
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 0 1.2px #ff9100;
  overflow: hidden;
  float: left;
}
 
.about .description-content{
  margin-left: 100px;
  padding: 1rem;
}

.about .description-content p{
  margin-left: 100px;
}
 
.skills{
  text-align: center;
  background-color: #fff;
 
}
 
.skills ul{
  list-style: none;
  margin: 0 auto;
 
}
 
.skills ul li{
  display: inline-block;
  border: 2px solid #ff9100;
  padding: 0.5rem 1.5rem;
  color: #fff;
  background: url("https://images.pexels.com/photos/7293752/pexels-photo-7293752.jpeg");
  background-size: cover;
  border-radius: 50px;
  margin: 0.5rem;
  cursor: pointer;
  
 
 
}
 
.skills ul li:hover{
  transform: scale(1.05);
  transition: linear 0.3s;
  box-shadow: 0 0 10px 4px #ff9100;
  
}
.projects{
  text-align: center;
 
 
}
.projects .project{
  background: url("https://images.pexels.com/photos/7293752/pexels-photo-7293752.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  max-width: 350px;
  margin: 1rem;
  display: inline-block;
  padding: 2rem;
  color: #fff;
  box-shadow: 0 0 0 2px #ff9100;
  border-radius: 10px;
  vertical-align: top;
}
 
 .projects .project:hover{
    box-shadow: 0 0 10px 4px #ff9100;
    transform: scale(1.05);
    transition: all 0.3s;
 
 
 
 
}
.contacts{
  background: url(https://images.pexels.com/photos/7293752/pexels-photo-7293752.jpeg) no-repeat center/cover;
    text-align: center;
    color: #ffffff;
    text-shadow:0 0 0 2px #000;
 
}
.contacts form{
  width: 50%;
  margin: 2rem auto;
  text-align: center;;
 
}
.contacts label{
display: block;
margin-bottom: 0.3rem;
}
 
.contacts input{
  all: unset;
  background-color: #fff;
  display: block;
  margin-bottom:  1rem;
padding: 0.6rem 1rem;
width:100%;
border-radius:  6px;
color: #000000;
 
 
}
.contacts input[type="submit"]{
  background-color: #ff9100;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
 
}

.contacts input[type="submit"]:hover {
    background-color: #ff9100;
}
 
footer{
  padding: 4rem;
  background: #000;
  text-align: center;
  color: #ffff;
  font-size: 1.2rem;
}
 